<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" lang="en" />
		<link rel="stylesheet" href="/static/stylesheets/index.css">
		<title>
			J2010 Filament Controller Web Interface
		</title>
	</head>
	<body>
		<h1>
			J2010 Filament Controller Web Interface
		</h1>
        <!--[if IE]>
            <p style="color: red;">
                Internet Explorer is not supported; please try a newer browser. Download Firefox <a href="https://www.mozilla.org/en-US/firefox/new/">here</a>.
            </p>
        <![endif]-->
		{% raw %}
			<div id="vue_div">
                <p>
                    See <a href="https://github.com/featherfeet/FilamentController">the Github repository</a> for support and details.
                </p>
				<p>
					Control status: {{ computer_control ? "Computer Control" : "Manual (Knob) Control" }}
				</p>
				<p>
					Active users: {{ active_users }}
				</p>
				<div v-if="computer_control">
					<button v-on:click="filamentOn">On</button>
					<br>
					<button v-on:click="filamentOff">Off</button>
					<p>
						Status: {{ filament_status_message }}
					</p>
				</div>
			</div>
		{% endraw %}
		<script type="text/javascript" src="/static/scripts/vue.global.prod.js"></script>
		<script type="text/javascript" src="/static/scripts/axios.min.js"></script>
		<script type="text/javascript" src="/static/scripts/index.js"></script>
		<noscript>
			This page requires JavaScript to be enabled. Please allow JavaScript in your browser for this page.
		</noscript>
	</body>
</html>
