<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" lang="en" />
		<link rel="stylesheet" href="/static/stylesheets/setup.css">
		<title>
			J2010 Filament Controller Setup
		</title>
	</head>
	<body>
		<h1>
			J2010 Filament Controller Setup
		</h1>
        <!--[if IE]>
            <p style="color: red;">
                Internet Explorer is not supported; please try a newer browser. Download Firefox <a href="https://www.mozilla.org/en-US/firefox/new/">here</a>.
            </p>
        <![endif]-->
		{% raw %}
			<div id="vue_div">
				<p id="error_p">
					{{ error_message }}
				</p>
				<p id="warning_p">
					{{ warning_message }}
				</p>
				<p>
					Max virtual knob value:
				</p>
				<input type="range" min="0" max="10" step="0.1" v-model="max_virtual_knob_value">
				<br>
				<input type="number" min="0" max="10" step="any" v-model="max_virtual_knob_value">
				<br>
				<input type="submit" value="Submit New Settings" v-on:click="submitNewSettings" />
			</div>
		{% endraw %}
		<script type="text/javascript" src="/static/scripts/vue.global.js"></script>
		<script type="text/javascript" src="/static/scripts/axios.min.js"></script>
		<script type="text/javascript" src="/static/scripts/setup.js"></script>
		<noscript>
			This page requires JavaScript to be enabled. Please allow JavaScript in your browser for this page.
		</noscript>
	</body>
</html>
